<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
 
    <title>Error</title>
  </head>
  <body>

    <p/>
    <p/>
    <title>Error</title>

    <div class="status-container">
        <div class="status">
            <p class="status-message">Error!</p>
            <p class="status-message">Guru meditation time </p>
            <a class="button" href="{{ url_for('home') }}">Return Home</a>
        </div>
    </div>
    </body>
</html>
